* {
    font-size: var(--font-size);
}
form {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-color);
    box-shadow: 0 0 10px var(--shadow) inset;
    border-radius: 20px;
    justify-content: center;

    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

.input_text {
    display: flex;
    margin-bottom: 2px;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0 0 10px var(--shadow) inset;
    border: none;
    background-color: white;
    padding-left: 5px;
}

.input_einloggen {
    display: flex;
    margin-bottom: 20px;
}

.input_other {
    border-radius: 7px;
    background-color: var(--primary-color);
    border: none;
    height: 30px;
}

.input_selection {
        display: flex;
        margin-bottom: 2px;
        border-radius: 10px;
        height: 25px;

}

.button {
    margin-top: 20px;
    background: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

    .button:hover {
        background: var(--hover-color);
        transform: translateY(-2px);
    }

    form > div {
        display: flex;
        flex-direction: column;
    }

    .error {
        font-size: small;
        padding-bottom: 6px;
        color: red;
    }

.link {
    padding-top: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: x-small;
}
.link a {
    color : var(--text-color);
}
.link a:hover{
    color: var(--primary-color);
}

label {
    color: var(--text-color);
}

@media (min-width: 900px) {
    form {
        margin: 0;
        padding: 50px 150px;
    }
}
