* {
    font-size: var(--font-size);
}
.kategorien {
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 50px;
    margin: 0 auto;
}

/**Wochenaufgaben**/
.thema{

    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 5px var(--shadow);
    background-color: var(--primary-color);
}
.thema a{
    display: inline-block;
    transition: all 0.3s ease;
    padding: 0.5rem 1.5rem;
    color: var(--text-color);
    text-decoration: none;
}
.thema a :hover{
    border-radius: 25px;
    background-color: var(--hover-color);
}

.aufgabe, .aufgabelast {
    transition: all 0.3s ease;
    transform: translateY(0);
}

.aufgabe:hover, .aufgabelast:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 5px var(--shadow);
}

.themaHeading{

    text-align: center;

}
.aufgabe{
    background-color: var(--surface-color);
}
.aufgabelast{
    background-color: var(--surface-color);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.aufgabe a{
    color: var(--text-color);
}
.aufgabelast a{
    color:var(--text-color);
}

.aufgabe a:hover{
    color: grey;
}
.aufgabelast a:hover{
    color: grey;
}
