name: OWASP Dependency Check

on:
  push:
    branches: ["main"]

jobs:
  dependency-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'gruppe-4a-1/**/*'
          path: './gruppe-4a-1'
          format: 'HTML'
          out: 'reports'

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports
